html {
    /*background: linear-gradient(180deg, #6197FF 0%, #1F407E 100%);*/
    height: -webkit-fill-available;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

body, html{
    padding: 0;
    margin: 0;
}

:root{
    --selection_theme: #ffffff
}
/*Change for firefox*/
::-webkit-scrollbar {
    background-color: inherit;
}

::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: grey;
}

[data-active = '0']{
    background-color: #242424;
}

[data-active = '1']{
    background-color: var(--selection_theme);
}

.sort-selection button{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-active]:hover{
    cursor: pointer;
}
.sort-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings-item, .item-unsel, .arrow{
    transition: background-color 0.25s;
    background-color: #242424;
}

#settings-item:hover, .item-unsel:hover, .arrow:hover{
    background-color: rgba(36, 36, 36, 0.4);
}

#settings-item:active, .item-unsel:active, .arrow:active{
    background-color: rgba(36, 36, 36, 0.88);
}

.top-bar{
    position: absolute;
    height: 48px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 5px rgb(0 0 0 / 50%);
}

.top-bar-container{
    height: 120px;
    width: auto;
    display: flex;
    position: absolute;
    left: 94px;
    right: 0px;
    align-items: center;
    justify-content: center;
}

#btn-collection{
    display: flex;
    gap: 15%;
    align-items: center;
    position: absolute;
    width: -webkit-fill-available;
}

.updated-time{
    color: white;
    display: flex;
    text-decoration: underline;
    align-items: center;
    width: -webkit-fill-available;
    position: absolute;
    justify-content: flex-end;
    right: 1vw;
    gap: 5px;
}

.search-bar{
    background-color: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    width: 40%;
    color: #737373;
    font-weight: 600;
    font-size: 15px;
    z-index: 999;
    border-style: none;
}

.search{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: inherit;
    border-style: none;
    background: bottom;
    font-size: initial;
    font-weight: 600;
    user-select: none;
    outline: none;
}

#search-container{
    display: flex;
    justify-content: center;
    position: absolute;
    width: -webkit-fill-available;
    height: inherit;
}

.search-bar img{
    margin-left: 10px;
}



#btn-collection > div, #search-container > div, .updated-time > p, .updated-time > img{
    z-index: 999999;
    user-select: none;
}
.updated-time > p, .updated-time > img{
    cursor: pointer;
}






#circle-separator{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 15px;
}

#dropdown-bar{
    width: 48px;
    position: absolute;
    top: 30px;
    bottom: -175px;
    border-radius: 17px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: inherit;
}

.dropdown{
    width: 48px;
    transform: translateY(48px);
    height: 250px;
    position: absolute;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    border-radius: 17px
}


.dropdown-container{
    display: none;
    flex-direction: column;
    align-items: center;
}

/*https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout*/
.sort-selection p{
    color: white;
    width: 100%;
    height: 0;
    border-radius: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 30% 5% 30% 5%;
    margin: 5px;
    background: green;
}

.item-sel#sort{
    transition: background-color 0.5s;
}

.item-unsel#sort{
    transition: background-color 0.5s;
}

#arrow-up{
    transform: rotate(0deg);
}

#arrow-down{
    transform: rotate(180deg);
}

.arrow {
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 17px;
    flex: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.arrow-sel{
    transition: background-color 0.2s;
    background-color: var(--selection_theme);
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 17px;
    flex: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.arrow > img, .arrow-sel > img{
    pointer-events: none;
}

.sort-direction{
    display: none;
    position: absolute;
    z-index: 1;
    /*transform: translateX(50%);*/
    height: -webkit-fill-available;
    align-items: center;
}

.sort-direction-container{
    display: flex;
    border-radius: 17px;
    gap: 10px;
    padding: 13px 10px;
    height: min-content;
}


#sort-gap{
    width: 25px;
    height: 74px;
    margin-left: 45px;
}



.sidebar-container {
    width: 120px;
    height: 100vh;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: absolute;
    justify-content: center;
}

.game-selection {
    display: flex;
    flex-direction: column;
    left: 30px;
    box-shadow: 10px 0px 20px 5px rgb(0 0 0 / 50%);
    gap: 110px;
    border-radius: 10px;
    top: 0px;
    align-items: center;
    padding: 10px;
    height: fit-content;
}

.item-sel {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 17px;
    flex: none;
    background-color: var(--selection_theme);
}

.item-unsel {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 17px;
    flex: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.settings-background {
    box-shadow: 10px 0px 20px 5px rgb(0 0 0 / 50%);
    padding: 10px;
    border-radius: 10px;
}

#settings-item {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 17px;
    flex: none;
    align-items: center;
    cursor: pointer;
}


.content {
    position: absolute;
    width: auto;
    left: 94px;
    top: 94px;
    /*120px being the space of 3 boxes minus the 20 pixel gap <-- IGNORE*/
    right: 0px;
    height: calc(100vh - 94px);

    overflow-y: scroll;
    overflow-x: hidden;

    z-index: 1;
}

/* https://stackoverflow.com/questions/32802202/how-to-center-a-flex-container-but-left-align-flex-items */
.gamedisplay {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-gap: 20px;
    place-content: center;
    padding-top: 20px;
}

.game {
    width: 300px;
    height: 200px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
}


.img-alt-1{
    /*background-color: black;*/
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    left: 20px;
    opacity: 50%;
    /*border: solid black 5px;*/
    filter: blur(2px);
}



.img-alt-2{
    position: absolute;
    width: 100px;
    transform: translateX(20px);
    border-radius: 10px;
    display: flex;
}

#img-steam{
    width: 100px;
    height: 150px;
}

#img-xbox{
    width: 125px;
    height: 125px;
}
#name-steam, #time-steam, #stats-steam{
    width: 180px;
}

#name-xbox, #time-xbox, #stats-xbox{
    width: 155px;
}

.img-container {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img {
    background-color: black;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    left: 20px;
}

.name-container {
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    /* background-color: #f0f8ff87; */
    align-items: flex-end;
}

.name {
    position: absolute;
    color: white;
    font-family: 'Inter', serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.time-container {
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.time {
    position: absolute;
    color: white;
    font-family: 'Inter', serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    font-size: small;
    height: 1px;
}



.stats-container {
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.percent {
    position: absolute;
    color: white;
    font-family: 'Inter', serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    font-size: small;
}