<!DOCTYPE html>
<html lang="en" style="background: linear-gradient(180deg, {{themes[currentTheme]['colors'][0]}} 0%, {{themes[currentTheme]['colors'][1]}} 100%)">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/static/page-control.js"></script>
    <script src="/static/home/app.js"></script>

    <title>{{currentTheme.title()}} Library</title>
</head>
<body>
    {% if loggedin %}
        <div class="top-bar-container">
            <div class="top-bar" style="background: {{ themes[currentTheme]['colors'][3] }}">
                <div id="btn-collection" data-selection-color="{{themes[currentTheme]['colors'][4]}}">
                    <div class="item-unsel" id="sort" data-origin="unset">
                        <img src="/static/img/slider.svg" alt="slider" width="32px" height="32px" data-origin="unset">
                    </div>


                    <div class="dropdown-container" data-origin = "dropdown">
                         <div class="dropdown" data-origin = "dropdown">
                             <div id="circle-separator" style="background: {{ themes[currentTheme]['colors'][3] }}" data-origin = "dropdown"></div>
                             <div id="dropdown-bar" style="background: {{ themes[currentTheme]['colors'][3] }}" data-origin = "dropdown">
                                 {% for i in ['A→Z','Hr→Min','%'] %}
                                     <div class="sort-selection" data-origin = "dropdown" onmouseover="sortDirection('{{ loop.index }}', true)">
                                        <p data-origin = "dropdown">{{i}}</p>
                                     </div>
                                 {% endfor %}
                             </div>


                              <div class="sort-direction">
                                <div id="sort-gap" data-origin="hoversort"></div>
                                <div class="sort-direction-container" style="background: {{ themes[currentTheme]['colors'][3] }}" data-origin="hoversort">
                                    <div class="arrow" id="arrow-up" data-origin="hoversort">
                                        <img src="/static/img/arrow.svg" alt="arrow-up" width="32px" height="32px" data-origin="hoversort">
                                    </div>

                                    <div class="arrow" id="arrow-down" data-origin="hoversort">
                                        <img src="/static/img/arrow.svg" alt="arrow-down" width="32px" height="32px" data-origin="hoversort">
                                    </div>
                                </div>
                              </div>


                         </div>
                    </div>

                     <div class="item-unsel" id="filter" data-origin="unset">
                        <img src="/static/img/filter.svg" alt="filter" width="32px" height="32px" data-origin="unset">
                    </div>
                </div>



                <div id="search-container">
                    <div class="search-bar">
                        <img src="/static/img/search.svg" alt="search-icon" width="32px" height="32px">
                        <input type="text" class="search" name="search" placeholder="Search for games..." oninput="searchGames(this)">
                    </div>
                </div>
                <div class="updated-time">
                    <img src="/static/img/sync.svg" alt="sync-icon" width="24px" height="24px">
                    <p>Last Updated: 5s ago</p>
                </div>

            </div>
        </div>
    {% endif %}

    <div class="content">
        <div class="gamedisplay">
            {%for i in gameData%}
                <div class="game" style="background: {{themes[currentTheme]['colors'][2]}}">
                    <div class="img-container">
                        {% if not i['alt_img'] %}
                            <img class="img" id="img-{{ currentTheme }}" src="{{i['img']}}">
                        {% else %}

                            <img class="img-alt-1" id="img-{{ currentTheme }}" src="{{i['img']}}">

                            <img class="img-alt-2" src="{{i['img']}}">
                        {% endif %}
                    </div>

                    <div class="name-container" id="name-{{ currentTheme }}">
                        <p class="name">{{i["name"]}}</p>
                    </div>

                    <div class="time-container" id="time-{{ currentTheme }}">
                        <p class="time">{{i["time"]}}</p>
                    </div>

                    <div class="stats-container" id="stats-{{ currentTheme }}">
                        <p class="percent">{{i["alt-percent"]}} &#183; {{i["percent"]}}%</p>
                    </div>
                </div>

            {%endfor%}
        </div>
    </div>

    <div class="sidebar-container">
        
        <div class="sidebar">
            <div class="game-selection" style="background: {{ themes[currentTheme]['colors'][3] }}">
                {%for i in themes%}
                    {%if i == currentTheme%}
                        <div class="item-sel" style="background: {{themes[currentTheme]['colors'][4]}}">
                            <img src="{{themes[i]['icon']}}" alt="Img" width="32px" height="32px">
                        </div>
                    {%else%}
                        <div class="item-unsel">
                            <img src="{{themes[i]['icon']}}" alt="Img" width="32px" height="32px">
                        </div>
                    {%endif%}
                {%endfor%}
            </div>

            <div class="settings-background" style="background: {{ themes[currentTheme]['colors'][3] }}">
                <div id="settings-item">
                    <img src="/static/img/gear.svg" alt="" width="32px", height="32px">
                </div>
            </div>

        </div>
    </div>

</body>
</html>