<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/static/settings/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/static/page-control.js"></script>
    <script src="/static/settings/app.js"></script>

    <title>{{currentItem.title()}} Settings</title>

</head>
    <body>
        <!-- <div class="signup-container">
            
        </div> -->

        <div class="bg-block">
            <div class="signup">
                <p>Create your account</p>
                <div class="form">
                    <form action="{{url_for('accountData', action='signup') }}" method="post">
                        <div class="typed">    
                            <input type="email" name="email" id="email">
                            <input type="password" name="pswrd" id="pswrd">
                        </div>    
                        <input type="submit" value="Create" >
                    </form>
                </div>

            </div>
        </div>
        
        <div class="sidebar-container">
            <div class="sidebar">
                <div class="item-selection">
                    {%for i in sidebar_items%}
                        {%if i == currentItem%}
                            <div class="item-sel">
                                <img src="{{sidebar_items[i]['icon']}}" alt="Img" width="32px" height="32px">
                            </div>
                        {%else%}
                            <div class="item-unsel">
                                <img src="{{sidebar_items[i]['icon']}}" alt="Img" width="32px" height="32px">
                            </div>
                        {%endif%}
                    {%endfor%}
                </div>

                <div class="back-background">
                    <div id="back-item">
                        <img src="/static/img/back.svg" alt="" width="32px", height="32px">
                    </div>
                </div>

            </div>
        </div>


        <div class="content">
            {% if currentItem.lower() == "profile" %}
                {% block profile %}
                {% endblock %}
            {% elif currentItem.lower() == "credits" %}
                {% block credits %}
                {% endblock %}
            {% endif %}
        </div>

    </body>
</html>