{% extends "settings-base.html" %}
{% block profile %}
    {{ super() }}
    <div class="title">
        <h1>Account Information</h1>
    </div>
    {% if not loggedin %}
        <div class="profile-content">
            <div class="profile-container">
                <div class="ln1">
                    <button class="btn">Log In</button>
                    <p style="font-weight: 600;">Or</p>
                    <button class="btn" onclick="signup()">Sign Up</button>
                </div>
                <p>To access all the apps features</p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block credits %}
    {{ super() }}
    <div class="title">
        <h1>Credits</h1>
    </div>

    <div class="credit-content">
        <div class="column-1">
            <p>Images Used:</p>
            <p>Apis Used:</p>
            <p>Created By:</p>
            <p>Github Repo:</p>
        </div>

        <div class="column-2">
            <div class="combo">
                <p class="links">
                    <a target="_blank" href="https://icons8.com/icon/83754/gear"> <img src="/static/img/gear.svg" alt="gear" width="32px" height="32px"> </a>
                </p>
                <p class="links">
                    <a target="_blank" href="https://icons8.com/icon/9R3Rk7hGJ4o8/nintendo-switch-logo"> <img src="/static/img/switch.svg" alt="nintendo-switch" width="32px" height="32px"> </a>
                </p>
            </div>

            <div class="combo">
                <p class="links">
                    <a target="_blank" href="https://steamcommunity.com/dev">Steam API</a>
                </p>
                <p class="links">
                    <a target="_blank" href="https://xbl.io/">OpenXBL</a>
                </p>
            </div>

            <p id="name">Ayaan Irshad</p>

            <p class="links">
                <a target="_blank" href="https://github.com/Yodaman07/GameLibraryClient">Source Code</a>
            </p>
        </div>
    </div>
{% endblock %}
