{% extends "settings-base.html" %}
{% block profile %}
    {{ super() }}
    <div class="title">
        <h1>Account Information</h1>
    </div>
    {% if not loggedin %}
        <div class="profile-content">
            <div class="profile-container">
                <div class="ln1">
                    <button class="btn" onclick="login()">Log In</button>
                    <p style="font-weight: 600;">Or</p>
                    <button class="btn" onclick="signup()">Sign Up</button>
                </div>
                <p>To access all the apps features</p>
            </div>
        </div>
    {% elif loggedin %}
        <h2>Welcome {{username}}</h2>
        <div class="edit-services">
            {% for i in themes %}
                <div class="platforms" style="background: {{ themes[i]['colors'][0] }}">
                    <div class="img-container">
                        <img class="img" src="{{themes[i]['icon']}}" width="32px" height="32px">
                    </div>
                    <p>{{i.title()}}</p>

                    <div class="secret-creds">
                        <span id="cred">**********************</span>
                        <img src="/static/img/eye-closed.png" width="16px" height="16px" class="visibility-toggle" onclick="toggle_secret_key(this)" data-state="hidden" data-service="{{i}}">
                    </div>

                    <button class="edit" onclick="edit_service('{{i.title()}}')">Edit</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block credits %}
    {{ super() }}
    <div class="title">
        <h1>Credits</h1>
    </div>

    <div class="credit-content">
        <div class="column-1">
            <p class="links"><a target="_blank" href="http://icons8.com">Images Used (Icons8):</a></p>
            <p>Apis Used:</p>
            <p>Created By:</p>
            <p>Github Repo:</p>
        </div>

        <div class="column-2">
            <div class="combo">
                <p class="links">
                    <a target="_blank" href="https://icons8.com/icon/83754/gear"> <img src="/static/img/gear.svg" alt="gear" width="32px" height="32px"> </a>
                </p>
                <p class="links">
                    <a target="_blank" href="https://icons8.com/icon/9R3Rk7hGJ4o8/nintendo-switch-logo"> <img src="/static/img/switch.svg" alt="nintendo-switch" width="32px" height="32px"> </a>
                </p>

                <p class="links">
                    <a target="_blank" href="https://icons8.com/icon/60022/eye"> <img src="/static/img/eye.png" alt="eye" width="32px" height="32px"> </a>
                </p>

                <p class="links">
                    <a target="_blank" href="https://icons8.com/icon/59814/invisible"> <img src="/static/img/eye-closed.png" alt="eye-closed" width="32px" height="32px"> </a>
                </p>

                <p class="links">
                    <a target="_blank" href="https://icons8.com/icon/86865/sorting-options"> <img src="/static/img/slider.svg" alt="slider" width="32px" height="32px"> </a>
                </p>

                <p class="links">
                    <a target="_blank" href="https://icons8.com/icon/19385/filled-filter"> <img src="/static/img/filter.svg" alt="filter" width="32px" height="32px"> </a>
                </p>
            </div>

            <div class="combo">
                <p class="links">
                    <a target="_blank" href="https://steamcommunity.com/dev">Steam API</a>
                </p>
                <p class="links">
                    <a target="_blank" href="https://xbl.io/">OpenXBL</a>
                </p>
            </div>

            <p id="name">Ayaan Irshad</p>

            <p class="links">
                <a target="_blank" href="https://github.com/Yodaman07/GameLibraryClient">Source Code</a>
            </p>
        </div>
    </div>
{% endblock %}
